<%- include('partial/header'); -%>

<h1>Compose</h1>

<form action="/compose" method="post">

    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" name="postTitle">
      </div>

    <div class="form-group">
        <label for="postArea">Post</label>
        <textarea class="form-control" id="postAres" rows="5" cols="30" name="postBody"></textarea>
    </div>

    <button type="submit" class="btn btn-primary">Publish</button>
</form>


<%- include('partial/footer') %> 